@charset "utf-8";

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: #555555;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.file-input {
  font-size: medium;
  margin-bottom: 25px;    
}

.signup-button {
  background-color: #ff6347;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.delete-button {
  background-color: #696969;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 36px;
}

.error-message {
  color: #ff3333;
}